<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" (click)="clickSort('account_executive')">Account Executive
        <bi *ngIf="sort=='account_executive' && sortDirection=='ASC'" name="arrow-down-square-fill"></bi>
        <bi *ngIf="sort=='account_executive' && sortDirection=='DESC'" name="arrow-up-square-fill"></bi>
      </th>
      <th scope="col" (click)="clickSort('daily_turnover')">Daily Tuenover
        <bi *ngIf="sort=='daily_turnover' && sortDirection=='ASC'" name="arrow-down-square-fill"></bi>
        <bi *ngIf="sort=='daily_turnover' && sortDirection=='DESC'" name="arrow-up-square-fill"></bi>
      </th>
      <th scope="col" (click)="clickSort('accumulated_turnover')">Accumulated Turnover
        <bi *ngIf="sort=='accumulated_turnover' && sortDirection=='ASC'" name="arrow-down-square-fill"></bi>
        <bi *ngIf="sort=='accumulated_turnover' && sortDirection=='DESC'" name="arrow-up-square-fill"></bi>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sec of secData">
      <td>{{ sec.account_executive }}</td>
      <td>{{ sec.daily_turnover | number}}</td>
      <td>{{ sec.accumulated_turnover | number }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  (pageChange)="refreshData()">
  </ngb-pagination>

</div></div>